/* Datatable css */
#payment_Schedule {
  margin-top: 10px;
}
div#mainContent {
  overflow-y: hidden;
}
span {
font-style: normal !important;
}
table {
width: 100%;
border-collapse: collapse;
}

tr:nth-of-type(odd) {
background: #f4f4f4;
}

tr:nth-of-type(even) {
background: #fff;
}

th {
background: #5cb85c;
color: #ffffff;
font-weight: 300;
}

td,
th {
padding: 10px;
border: 1px solid #ccc;
text-align: left;
}

td:nth-of-type(1) {
font-weight: 500 !important;
}

td {
font-family: 'Roboto', sans-serif !important;
font-weight: 300;
line-height: 20px;
}

span {
font-style: italic
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

table.responsive,
.responsive thead,
.responsive tbody,
.responsive th,
.responsive td,
.responsive tr {
  display: block !important;
}

.responsive thead tr {
  position: absolute !important;
  top: -9999px;
  left: -9999px;
}

.responsive tr {
  border: 1px solid #ccc;
}

.responsive td {
  border: none;
  border-bottom: 1px solid #eee !important;
  position: relative !important;
  padding-left: 25% !important;
}

.responsive td:before {
  position: absolute !important;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap !important;
  font-weight: 500 !important;
}


.responsive td:before {
  content: attr(data-table-header) !important;
}
}
/* Css end */
/* My Giving */
.saved-view-holder {
  float: right;
}
.grid-filters {
  margin-bottom: 40px;
}
h3.grid-filters-label.available-columns-label {
  /* font-size: 1.125rem; */
  padding-bottom: 1.25rem;
  color: black;
  font-weight: 600;
}
.ss-grid .grid-filters .available-columns-checkboxes {
  padding-bottom: 40px;
}
.checkbox-holder {
  float: left;
  margin: 0 15px;
}
span.c-indicator {
  margin-left: 10px;
}
span.c-label {
  font-size: 16px;
  color: #999999;
}
input.filtercheckbox {
  transform: scale(2) !important;
  accent-color: #00984d;
}
  .tpl-buttons-holder {
    text-align: center;
  }

  .tpl-button {
    display: inline-block;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    border-width: 0;
    border-style: solid;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 22px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    cursor: pointer;
    text-align: center;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    outline: none;
    white-space: nowrap;
    -webkit-appearance: none;
    letter-spacing: 0.5px;
    -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%);
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%);
    background-color: #00984d;
    border-color: #00984d;
    color: #fff;
  }

  #btnrow {
    margin-top: 50px;
  }

  a.tpl-button:hover {
    color: white;
    background-color: #3bb076;
  }
  h1, .tpl-title {
    font-weight: 500 !important;
    padding: 0;
    margin: 0;
    font-size: 38px;
    font-family: "Montserrat", sans-serif;
    color: #00984d;
    text-align: left !important;
  }
  h5{
    color: #00984d;
font-size: 23px;
  font-weight: 600;
  }
  .tpl-body {
    padding: 12px 0;
    line-height: 1.5;
  }
  .tpl-summary{
    font-size: 22px;
    padding: 12px 0;
    line-height: 1.5;
    color: #898585;
    text-align: left;
  }
  .tpl-summary a {
  text-decoration: underline;
  color: #00984d;
}
  .margincls{
    margin: 50px
  }
    .module-card .module-title-holder {
    font-weight: 200;
    padding: 0;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color: #484848;
    margin: 12px 10px 0 0;
  }

  .featured-amount {
    margin: 1rem 0 0.8rem;
  }
  /* My Giving End */

/* Header */
anchorgivenowpages{
  width: 50px !important;
  height: 60px;
  background-color: #0f82c5 !important;
}
ul.sub-menu{
position: absolute;
  margin-top: -2px;
  left: -290px;
  box-shadow: 2px 1px 2px rgb(0 0 0 / 20%);
  display: none;
  width: 202px;
  transition: .2s ease-in-out;
}
.sub-menu li {
background-color: #0f82c5;
list-style-type: none;
width: 302px;
padding: 10px 0px 10px 10px;
}
ul.sub-menu li a {
  color: white;
  letter-spacing: 2px;
}
ul.sub-menu li a:hover{
text-decoration: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  margin-bottom: -10px !important;
}
#givenowbtn:hover{
background-color: #39a1dd !important;
}
ul.nav.navbar-nav.weblinks {
  margin-right: -400px;
}
#givenowselect {
  width: 50px;
  height: 60px;
  color: white;
  background-color: #0F82C5 !important;

}

/* Footer start*/
footer {
  border-top: 3px solid #00984d;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}
.footer-bottom.hidden-print {
  background-color: #f8f8f8;
  margin-top: -20px;
}
.footer-copyright-row {
  margin: 15px 0 -5px !important;
}
/* #footersection1{
margin-left: -200px;
} */
.footer-social .fa {
  font-size: 40px;
  margin: 0 30px 0 0;
  transition: .2s ease-in-out;
}
.footer-social li {
  display: inline;
}
li#iconli {
  margin-top: 30px;
  margin-left: -30px;
}
/*.footer-social li a i {
  color: black;
}*/
.footer-social li a i {
  color: #455a64;
}
li.footer-address {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}
#legacylogoimg{
width: 350px;
}
.footer-copyright, .footer-copyright a {
  font-size: 15px;
  line-height: 2;
  text-decoration: none;
  color: #00984d;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
}
li.footer-phone {
  margin: 20px 0px 20px 10px;
}
#phone {
  font-size: 20px;
  font-weight: 500;
}
/*li.footer-phone a {
  color: black !important;
}*/
li.footer-phone a {
  color: #455a64 !important;
}
/* footer section 2  */
/* div#footersection2 {
  margin-left: 100px;
}
#footersection2 {
  margin-right: 100px;
} */
.footerh6 h6 {
  color: #00984d;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px !important;
  margin-bottom: -10px;
}
#footer-middle li{
margin-top: 15px;
}
li#menu-item-137 {
  padding-top: 10px;
}
#footer-middle li a {
  margin-left: -40px;
  color: #455A64;
  font-size: 22px;
  letter-spacing: 2px;
}
#footer-section3 li a {
  margin-left: -40px;
  color: #455A64;
  font-size: 22px;
  letter-spacing: 2px;
}
#footer-section3 li{
margin-top: 15px;
}
li#menu-item-249 {
  padding-top: 10px;
}
#footer-section-4 li a {
  margin-left: -40px;
  color: #455A64;
  font-size: 22px;
  letter-spacing: 2px;
}
#footer-section-4 li{
margin-top: 15px;
}
li#headquatter1 {
  margin-top: 20px;
}
ul.footer-orgs li a img {
  width: 80px;
  margin: 30px 2px 0px;
} 
.footerorgsli{
display: inline;
margin-top: 20px;
}
li#firstorgs {
  margin-left: -50px;
}
/* Footer End */
/* Give Monthly webpage*/
  .tpl-title {
    margin: 0;
    font-size: 38px;
    font-family: "Montserrat",
      sans-serif;
    font-weight: 700;
    color: #00984d;
    text-align: center;
        margin-bottom: 30px;
  }

  .tpl-body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    text-align: center;
  }

  .givenowbtns {
    background-color: #00b25a;
    width: 70px;
    height: 35px;
  }
  #givemonthlyrow {
  margin-top: 25px;
  }
  #tpl-summary{
    text-align: center;
  color: white;
  margin-top: 100px;
  }
 .tpl-body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  /* height: 600px */
 }
 #textovergivenowimg{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 /* Give monthly webpage end */
.container {
  height: auto;
}

#loadingrow {
  margin-left: 40px;
  font-size: 20px;
}
.navbar-static-top.navbar .menu-bar > .navbar-nav > li > a {
color: #2fc67b;
font-size: large;
letter-spacing: 1.25px;
font-weight: 500;
text-transform: uppercase;
padding-right: 20px;
}
.weblinks{
margin: -20px 0px 0px 0px;
font-size: 20px;
font-weight: 600;}
.navbar-right{
margin-top: 35px;
}
.btn:hover{
background-color: #4eaf6e !important;
}
footer .footer-bottom {
   margin-top: 200px;
}
.sponsorrow {
margin-left: 30px;
}
.cardtxtcls
{
margin-bottom: 15px;
display: flex;
color: white;
font-size: 14px;
padding-left: 50px;
padding-right: 30px;
}
.card{
    margin-bottom: 20px;
}
.card {
box-shadow: 4px 4px 4px 4px rgba(0,0,0,0);
transition: 0.3s;
width: 40%;
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.selectedrow {
  padding: 10px;
  margin-left: 10px;
}
.xrm-attribute-value{
  margin: 20px 0px 20px -200px;
}
#resetbtn{
 color: #00984d;
  outline: none;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  position: relative;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  padding: 0 20px 0 0;
  float: right;
}

/* Checkout page */

.login-text{
    font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 20px;
  font-weight: normal;
  margin-top: 50px;
}
.labelcss{
display: inline-block;
  position: relative;
  height: 24px;
  line-height: 24px;
  padding-left: 30px;
  font-weight: 700;
}
input[type="radio"] {
  transform: scale(1.5);
}
input[type="checkbox"] {
    transform: scale(1.5);
}


#cart-summary-title{
font-weight: 200; 
padding: 0; 
margin: 0; 
font-size: 38px;
font-family: Montserrat, sans-serif;
color: #455a64;
border-bottom: 1px solid #808080;
background: none; 
text-align: center; 
padding-bottom: 30px;
}
#summary-row{
background: transparent; 
margin: auto;
padding: 0;
padding-bottom: 25px;
margin-bottom: 25px;
border-bottom: solid 1px #808080;
min-height: 0;
}
#childnamerow{
font-weight: 200; 
font-size: 20px; 
font-family: "Montserrat", sans-serif;
width: auto;
text-transform: none;
}
#childpricerow{
font-weight: 200;
padding: 0;
margin: 0;
font-size: 17px;
font-family: " Montserrat", sans-serif;
width: auto;
margin-left: 110px;
}
#anonymousrow{
float: left;
padding-bottom: 10px;
font-size: 14px;
line-height: 24px;
}
anonymousrowspan{
display: inline-block;
height: 24px;
line-height: 24px;
font-size: 14px;
}
.cancelanchor{
line-height: 24px;
float: right;
font-size: 17px;
text-decoration: underline;
border: 0;
background-color: white;
color: #00984d;
font-weight: 500;
}
#rowWhoReffered{
width: 100%;
float: none;
text-align: left;
padding-left: 0;
line-height: 24px;
}
#anchorWhoReffered{
color: #00984d;
outline: none;
text-decoration: underline;
font-size: 14px;
}
#total{
font-weight: 200;
padding: 0;
margin: 0;
font-size: 20px;
font-family: Montserrat, sans-serif;
background: none;
text-align: center;
padding: 15px 0;
}
.securepayments{
padding-top: 35px;
}
.seacureTitle{
font-weight: 200;
  padding: 0;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 15px 0 20px;
  text-align: center;
}
#paument-methods{
margin-left: 420px;
padding: 15px 0 40px;
margin-bottom: 30px;
}
.formcontrolmarginbtm{
margin-bottom: 20px;
}
.form-field-button{
color: #00984d;
outline: none;
text-decoration: underline;
}
#undertaing_checkboxes{
text-align: center;
}
#tributebehalf {
  text-align: left;
  margin-left: 15px;
}
#cardonbelahf{
text-align: left;
}
#submitbtn{
margin-top: 30px;
}
#submitinput{
display: inline-block;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  border-width: 0;
  border-style: solid;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  padding: 0 22px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  cursor: pointer;
  text-align: center;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  outline: none;
  white-space: nowrap;
  -webkit-appearance: none;
  letter-spacing: 0.5px;
  -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%);
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 20%);
  background-color: #00984d;
  border-color: #00984d;
  color: #fff;
  min-width: 250px;
}
#submitinput:hover{
background-color: #4eaf6e;
}
#anonymousrowspan{
padding-right: 15px;
}
.country-hide{
display: none;
}
.form-field-button{
background-color: white;
  border: none;
}
.form-control{
border: 1px solid #949494;
}
#myModal {
position: absolute !important;
overflow: auto !important;
}
.modal-header{
font-weight: 200;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  background-color: #455a64;
  color: #fff;
  position: relative;
  line-height: 1.2;
  padding: 18px 46px 16px 22px;
  margin: 0;
  width: 100%;
  height: 65px;
}
.modal-title {
  float: left;
  color: white;
}
#whoreferlbl{
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
  float: left;
}
.modalbtns{
  float: left;
  width: 70px;
  background-color: #00984d;
  color: white;
}
.modalbtns:hover{
  color: white;
}
.close{
  color: white;
  opacity: 2;
  font-size: 30px;
}
.modal-content{
      transform: translate(0, 30%);
}
#modify-gift-textarea {
  height: 80px;
}
/* capctha css */
/*
#cart-summary-title{
font-weight: 200;
  padding: 0;
  margin: 0;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  color: #455a64;
  border-bottom: 1px solid #808080;
  background: none;
  text-align: center;
  padding-bottom: 30px;
} */