.ds-store-icon {
    background: url("/store.png");
    background-repeat: no-repeat;
    height: 35px;
    width: 34px;
    display: block;
    margin-top: -5px;
}

.ds-house-icon {
    background: url("/mhIcon.svg");
    background-repeat: no-repeat;
    height: 35px;
    width: 34px;
    display: block;
    margin-top: -5px;
}


.ds-plant-icon {
    background: url("/plant.png");
    background-repeat: no-repeat;
    height: 60px;
    width: 48px;
    display: block;
    margin: -10px 2px;
    background-position: center;
    background-size: contain;
}


.ds-gift-icon {
    background: url("/gift.png");
    background-repeat: no-repeat;
    height: 37px;
    width: 40px;
    display: block;
    margin-top: -5px;
}


.ds-ring-icon {
    background: url("/ring-icon.png");
    background-repeat: no-repeat;
    height: 35px;
    width: 34px;
    display: block;
    margin-top: -5px;
}

.ds-scale-icon {
    background: url("/scale-icon.svg");
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    display: block;
}

.ds-truck-icon {
    background: url("/truck.png");
    background-repeat: no-repeat;
    height: 35px;
    width: 34px;
    display: block;
    margin-top: -5px;
}

.ds-hand-shake-icon {
    background: url("/hand_shake.png");
    background-repeat: no-repeat;
    height: 35px;
    width: 34px;
    display: block;
    margin-top: -5px;
}