.page-content {
    margin-top: 0px;
}

.weblink {
    font-size: 16px !important;
    letter-spacing: 2.66667px;
}

.mh-text-gray {
    color: var(--bs-gray-900) !important;
}

.mh-text-gray-dark {
    color: var(--bs-gray-800) !important;
}

.mh-bg-gray {
    background-color: var(--bs-gray-200) !important;
}

.wrapper-body {
    background-color: var(--bs-gray-900) !important;
    color: var(--bs-white) !important;
    min-height: 770px;
}

.mh-model-title {
    font-family: "Beausite Fit" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 15.72px;
    line-height: 26px;
    /* identical to box height, or 165% */

    text-align: center;
    letter-spacing: -0.48px;
}

footer .accordion-button {
    background-color: var(--bs-black) !important;
    border-bottom: 0.8px solid rgba(255, 255, 255, 0.4) !important;
}

.navigation-container {
    .badge {
        margin-left: -5px;
        top: -6px;
    }

    .accordion-item:first-of-type .accordion-button {
        border-top: 1px solid var(--bs-border-color) !important;
    }

    .accordion-button {
        border-bottom: 1px solid var(--bs-border-color) !important;
        font-size: 16px !important;
        letter-spacing: 2.66667px;
        color: var(--bs-black) !important;
    }

    .accordion-button::after {
        right: 16px;
    }

    .light .accordion-item .accordion-button {
        padding: 12px 16px !important;
    }
}

.about-desire-container {
    color: var(--bs-white) !important;

    .section-1 {
        text-align: center;
        min-height: 688px;
        background-position: center !important;
        background-size: cover !important;
        margin: 0px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) -6.94%, rgba(28, 28, 28, 0.6) 100%),
            url("/amanda-mocci-Zyp3t67rrP4-unsplash_1.png");
        background-repeat: no-repeat;
        text-align: center;

        .section-content {
            padding: 32px;
            margin-top: 25px;
        }
    }

    .section-2 {
        background: var(--bs-black);
        min-height: 515px;

        .section-content {
            margin-top: 0px;
            padding: 32px 16px;
        }
    }
}

.account-container {
    #carouselExampleIndicators {
        position: absolute;
        z-index: 99;
        background: var(--bs-white);
        margin-top: -15px;
        width: 92%;

        .carousel-indicators {
            top: 245px !important;
        }
        .carousel-inner {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            height: 235px;
        }
    }

    .card-section {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .list-group li {
        border: 1px solid rgba(209, 211, 212, 0.5);
        padding: 12px 4px;
    }

    .material-icons.chevron_right {
        color: #afafaf;
    }

    .carousel-control-prev,
    .carousel-control-next {
        height: 32px;
        width: 32px;
        margin-top: 30%;
    }
}

.home-container {
    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6 {
        color: var(--bs-white) !important;
        text-align: left;
        min-height: 688px;
        background: var(--bs-gray-900);
        background-position: center !important;
        background-size: cover !important;
        margin: 0px;

        .section-content {
            margin-top: 100px;
            padding: 50px;

            a {
                color: var(--bs-blue) !important;
            }
        }
    }

    .section-1 {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) -6.94%, rgba(28, 28, 28, 0.6) 100%),
            url("/amanda-mocci-Zyp3t67rrP4-unsplash_1.png");
        background-repeat: no-repeat;
        text-align: center;

        .section-content {
            padding: 32px;
            margin-top: 25px;

            .btn {
                width: 310px !important;
            }
        }

        @media (min-width: 768px) {
            .section-content {
                padding: 140px 550px !important;
                margin-top: 0px;
            }
        }
    }

    .section-2 {
        .section-content {
            margin-top: 0px;
            padding: 50px;
        }

        background: var(--bs-black);

        @media (min-width: 768px) {
            .section-content {
                padding: 150px !important;
            }
        }
    }

    .section-3 {
        min-height: 515px;

        .section-content {
            margin-top: 26px;
            padding: 16px;
        }

        @media (min-width: 768px) {
            .section-content {
                padding: 250px 200px !important;
            }
        }
    }

    .section-4 {
        background: #fff;
        
        .section-content {
            margin-top: 32px;
            padding: 0px;

            button[name="selectMetalContentBtn"] {
                border: 1px solid #e8e9ea;
            }
        }

        @media (min-width: 768px) {
            .section-content {
                padding: 0px 120px !important;
                margin-top: 0px;
                background: #fff;
            }
        }
    }

    .section-5 {
        min-height: 268px;
        .section-content {
            margin-top: 18px;
            padding: 46px;
            background: #000;

            .btn {
                width: 310px !important;
            }
        }

        @media (min-width: 768px) {
            .section-content {
                padding: 140px 515px !important;
                margin-top: 0px;
            }
        }
    }

    .section-6 {
        min-height: 518px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
            url(f4a5beba578fc1ec6b9696076d0ecf06.jfif);
        background-repeat: no-repeat;
        .section-content {
            padding: 50px;
            margin-top: 60px;
            margin-bottom: 60px;
        }

        @media (min-width: 768px) {
            .section-content {
                padding: 140px 200px !important;
                margin-top: 0px;
            }
        }
    }
}

nav.navbar-expand-lg {
    a {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--bs-white);
    }
}

.faq-questions-container {
    .section-content {
        height: 190px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) -6.94%, rgba(28, 28, 28, 0.6) 100%),
            url("/dion-beetson-oF7hh97lVqA-unsplash.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 58px 30px 41px 30px;
    }
}

#faqQuestionsListContainer,
#faqListContainer {
    min-height: 300px;
}

#faqListContainer {
    .material-icons {
        font-size: 35px !important;
    }
}

#estimateCalculateContainerDiv {
    .estimateFormGroup {
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
        }
        .btn {
            background: var(--bs-gray-100);
            border: 1px solid var(--bs-gray-200);
            border-radius: 4px;
            width: 50px;
            color: var(--bs-gray-800) !important;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
        }

        .btn-primary {
            color: var(--bs-white) !important;
        }

        label {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
        }

        .accordion-item {
            border-bottom: 1px solid var(--bs-black);

            .accordion-button {
                background: var(--bs-gray-900);
                color: var(--bs-white);
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                padding: 16px 0;
            }
        }

        .divider {
            border-bottom: 1px solid var(--bs-black);
        }

        .accordion-button:not(.collapsed) {
            background: var(--bs-white);
            color: var(--bs-black);
            box-shadow: none;
        }
    }

    .accordion-body {
        padding: 16px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        background: var(--bs-white);
    }
}

.sustainability-container {
    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5,
    .section-6 {
        color: var(--bs-white) !important;
        text-align: left;
        min-height: 754px;
        background: var(--bs-gray-900);
        background-position: center !important;
        background-size: cover !important;
        margin: 0px;

        .section-content {
            margin-top: 0px;
            padding: 10px;

            a {
                color: var(--bs-blue);
            }

            p {
                font-family: "Proxima Nova";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: var(--bs-white);
            }
        }
    }

    .section-1 {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)),
            url("/7a0b8450130e3f54f7e981ac9707416f.jfif");
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 410px;

        .section-content {
            margin-top: 0px;
            padding: 120px 42px;
        }
    }

    .section-2 {
        background: var(--bs-black);
        min-height: 646px;

        .section-content {
            margin-top: 0px;
            padding: 32px 16px;
        }
    }

    .section-3 {
        min-height: 513px;

        .section-content {
            margin-top: 0px;
            padding: 64px 16px;
            text-align: center;

            img {
                width: 54px;
                height: 54px;
            }

            h1 {
                font-family: "Proxima Nova";
                font-weight: 600;
                font-size: 54px;
                line-height: 30px;
                /* identical to box height, or 56% */

                letter-spacing: -0.25px;
            }
        }
    }

    .section-4 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)),
            url("/c272e74d01e70476f9374b4a0b30c460.jfif");

        min-height: 754px;
        .section-content {
            margin-top: 445px;
            padding: 0px 16px 0 16px;
        }
    }

    .section-5 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)),
            url("/4822298260453c542b1dedeb8c5c2f12.jfif");

        .section-content {
            margin-top: 445px;
            padding: 0px 16px;
        }
    }

    .section-6 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)),
            url("/dion-beetson-oF7hh97lVqA-unsplash.png");

        .section-content {
            margin-top: 470px;
            padding: 0px 16px;
        }
    }
}

.request-package-container {
    td {
        padding: 0 0 16px 0;
    }
}

.my-quote-container {
    label {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
}

.my-quote-container {
    background: var(--bs-white);
    color: var(--bs-black);

    .section {
        color: var(--bs-black) !important;
        text-align: left;
        height: 286px;
        background: var(--bs-white);
        background-position: center !important;
        background-size: cover !important;
        margin: 0px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)),
            url("/95e3c8cb9a7cb973d43c651de0ee0c77.jpeg");
    }

    .material-icons {
        color: #d1d3d4;
    }
}
.my-formal-quote-container {
    background: var(--bs-white);
    min-height: 765px;

    .file-upload-wrapper {
        .file-upload {
            padding: 80px;
            opacity: 0;
            z-index: 99;
            position: absolute;
            width: 95% !important;
        }
        .file-upload-label {
            padding: 50px;
            background: rgba(66, 133, 244, 0.03);
            border: 1px var(--bs-gray-200) dotted;
        }
    }

    .image-preview {
        height: 183px;
        width: 278px;
        padding: 0 68px;
        background-position: center !important;
        background-size: cover !important;
        margin: auto;
    }

    .image-upload-btn {
        position: absolute;
        margin: -16px -45px;
        border: 1px solid var(--bs-blue);
        width: 100px;
        height: 30px;
        padding: 8px 18px;

        .capture-icon {
            font-size: 15px;
        }

        .capture-label {
            line-height: 16px;
        }
    }
}

.declined-container {
    color: var(--bs-black) !important;
    text-align: left;
    height: 730px;
    background: var(--bs-white);
    background-position: center !important;
    background-size: cover !important;
    margin: 0px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)),
        url("/ca809f46847cc4abf38005a8e1205bd7.jpeg");

    .section-content {
        margin-top: 438px;

        h2 {
            padding-left: 28px;
            padding-right: 28px;
        }

        p {
            padding-left: 41px;
            padding-right: 41px;
        }
    }
}

#ff-onboarding-widget {
    background-color: var(--bs-white) !important;
    font-family: var(--bs-font-sans-serif) !important;
    color: var(--bs-black) !important;
    padding: 16px;

    .ff-title {
        @extend .h2;
        margin-top: 16px;
    }

    .ff-subtitle {
        color: var(--bs-black);
        font-size: 14px;
        font-weight: var(--bs-body-font-weight);
    }

    .ff-buttton-wrapper {
        box-shadow: none;
        padding: 0 !important;
    }

    button {
        font-weight: var(--bs-body-font-weight) !important;
        line-height: 1.5 !important;
        font-size: 14px !important;
    }

    .ff-welcome-list-item .ff-frankie-icon {
        display: none;
    }

    .ff-welcome-view p {
        margin-top: 0 !important;
    }

    .ff-welcome-list-item {
        padding-bottom: 12px;
        display: list-item !important;
        margin-bottom: 0 !important;
    }

    .ff-scrollable.ff-stack {
        min-height: 400px;
    }

    .ff-scrollable,
    #ff-onboarding-widget .ff-stack {
        height: auto !important;
    }

    .ff-welcome-list {
        padding: 0px 24px;
    }

    .ff-welcome-list-title.ff-hint {
        color: var(--bs-black) !important;
        font-weight: var(--bs-body-font-weight) !important;
    }

    .ff-document-form {
        .ff-title {
            @extend .h3;
        }
    }

    .ff-router-frame .ff-progress-header {
        margin: 16px 0 32px 0 !important;
        flex-basis: 0px !important;
        align-items: start !important;
    }

    .ff-the-header .ff-arrow-button {
        margin-right: 16px !important;
    }

    .ff-the-header {
        padding: 0 !important;
    }

    .ff-progress-header {
        box-shadow: none !important;
        margin-bottom: 16px !important;
    }

    .ff-progress-bar {
        margin: 0 !important;
        height: 12px !important;
        background: var(--bs-gray-200) !important;
    }

    .ff-document-form .ff-title {
        margin: 0 !important;
    }

    .ff-document-form-hint {
        margin-top: 16px !important;
        color: var(--bs-black) !important;
        margin-bottom: 2px !important;
        font-weight: 400 !important;
    }

    .ff-prefixed-icon {
        color: var(--bs-black) !important;
        margin-right: 24px !important;
    }

    .ff-icon-arrow {
        color: var(--bs-gray-700) !important;
        height: 16px !important;
        width: 16px !important;
    }

    .ff-goahead-button.ff-document-type-button {
        padding: 20px 16px !important;
        background: var(--bs-white) !important;
        border: 1px solid #d1d3d4 !important;
        border-radius: 0 !important;
    }

    .ff-document-form .ff-document-type-button {
        margin-bottom: 12px !important;
    }

    .ff-icon-passport,
    .ff-icon-driving-licence,
    .ff-icon-medicare {
        width: 28px !important;
        height: 28px !important;
    }

    .ff-main-label {
        font-family: "Beausite Fit" !important;
        font-weight: var(--bs-body-font-weight) !important;
        font-size: 20px !important;
        line-height: 28px !important;
        align-items: center !important;
        letter-spacing: -0.25px !important;
    }

    .ff-input-like,
    input,
    textarea {
        border-radius: 0 !important;
        font-family: var(--bs-font-sans-serif) !important;
        color: var(--bs-black) !important;
        font-weight: var(--bs-body-font-weight) !important;
    }

    .ff-select-option .v-select,
    .ff-select-option input {
        font-weight: var(--bs-body-font-weight) !important;
        font-family: var(--bs-font-sans-serif) !important;
    }

    .ff-label {
        color: var(--bs-black) !important;
    }

    ::placeholder {
        color: var(--bs-gray) !important;
    }

    .ff-title {
        margin-top: 0 !important;
    }

    .ff-scrollable {
        padding: 0 !important;
    }

    .ff-personal-details-form .ff-dob-input .ff-results-display,
    .ff-review-input .ff-dob-input .ff-results-display {
        min-height: 50px !important;
    }

    .ff-document-form,
    .ff-review-input {
        padding: 0px !important;
    }

    .ff-extra-horizontal-padding {
        padding: 0px !important;
    }

    .ff-summary-form {
        padding-top: 16px;

        .ff-title {
            font-size: 24px !important;
        }
    }

    .ff-review-input .ff-document-review-input .ff-review-row {
        border-top: 1px solid #f0f1f3 !important;
    }

    .ff-review-input .ff-document-review-input:last-child .ff-review-row {
        border-bottom: 1px solid #f0f1f3 !important;
    }

    .ff-review-input .ff-review-row {
        color: var(--bs-black) !important;
    }

    .ff-text-link {
        font-weight: var(--bs-body-font-weight) !important;
    }

    .ff-review-row .ff-extra-horizontal-padding {
        padding: 12px 0 !important;
    }

    .ff-review-input {
        margin-top: 32px !important;
    }

    .ff-review-input .ff-applicant-review-input .ff-subtitle {
        margin-top: 16px !important;
    }

    .ff-hint {
        font-weight: 400 !important;
    }

    .message-footer.ff-text-left.ff-informational {
        font-weight: 600 !important;
    }

    .ff-negative-margin-horizontal {
        margin: 0 !important;
    }

    .ff-select-option {
        .ff-native-select-icon {
            padding-bottom: 6px !important;
        }

        .ff-icon {
            top: 46px !important;
            color: #000 !important;
        }
    }
}
